#Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives:**  
- List popular languages for Data Science
- List popular libraries for Data Science
- List popular toold Data Science

1. Python
2. R
3. SQL
4. SCALA

1. NumPy
2. SciKit Learn
3. SciPy
4. Matplotlib

| Data Science Tools|
| -----------------|
| Apache Spark|
| Jupiter|
| Tensor Flow|
| TR Studio|

### Below are a few examples of evaluating arithmetic expressions in Python

In [10]:
(3*4)+5

17

In [11]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

Author
## Umair Abdul Samad